<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.mapper.MusicMapper">
    <resultMap id="music" type="com.music.pojo.Music">
        <id property="music_id" column="music_id"></id>
        <result property="music_name" column="music_name"></result>
        <result property="music_img" column="music_img"></result>
        <result property="duration" column="duration"></result>
        <association property="songer" javaType="com.music.pojo.Songer">
            <id property="songer_id" column="songer_id"></id>
            <result property="songer_name" column="songer_name"></result>
        </association>
        <association property="album" javaType="com.music.pojo.Album">
            <id column="album_id" property="album_id"></id>
            <result column="album_name" property="album_name"></result>
        </association>
    </resultMap>
    <select id="load_rank_hot" resultMap="music">
        select music_name,songer_name from music natural join songer order by volume_total desc limit 3
    </select>
    <select id="load_rank_new" resultMap="music">
        select music_name,songer_name from music natural join songer limit 3
    </select>
    <select id="load_rank_style" resultMap="music">
        select music_name,songer_name from music natural join songer order by volume_week desc limit 3
    </select>
    <select id="load_rank_eu" resultMap="music">
        select music_name,songer_name from music natural join songer where area='欧美' limit 3
    </select>
    <select id="load_rank_korea" resultMap="music">
        select music_name,songer_name from music natural join songer where area='韩国' limit 3
    </select>
    <select id="load_index_song" resultMap="music">
        select music_id,music_name,songer_name,music_img,duration from music natural join songer limit 9
    </select>
    <select id="select_singlesong" resultMap="music">
        select * from music left join songer on music.songer_id=songer.songer_id left join album on music.album_id=album.album_id where music_id=#{music_id}
    </select>
</mapper>