<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="load_index_musicsheet" resultType="com.music.pojo.MusicSheet">
        select list_name,volume,list_img from songlist limit 5
    </select>
</mapper>